@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/Poppins-Regular.ttf') format('opentype');
  }
  @font-face {
    font-family: 'Poppins-Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('./fonts/Poppins-Light.ttf') format('opentype');
  }
  @font-face {
    font-family: 'Poppins-Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./fonts/Poppins-Medium.ttf') format('opentype');
  }
  @font-face {
    font-family: 'Poppins-semiBold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./fonts/Poppins-Bold.ttf') format('opentype');
  }
  @font-face {
    font-family: 'Poppins-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./fonts/Poppins-Bold.ttf') format('opentype');
  }
}

body {
  @apply bg-main-bg font-poppins
}

